@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: calcVW(45) 0 calcVW(17);
    z-index: 10;
    transition: background-color 0.4s ease-out, padding 0.4s ease-out;

    @media (max-width: 1440px) {
        padding: 45px 0 17px;
    }
}

.header.scrolled {
    padding: calcVW(17) 0;
    background-color: rgb(255, 255, 255);

    @media (max-width: 1440px) {
        padding: 17px 0;
    }
}

.container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: calcVW(66);

    @media (max-width: 1440px) {
        column-gap: 66px;
    }

    @media (max-width: 1024px) {
        column-gap: 40px;
    }
}

.logo {
    width: calcVW(53);
    height: calcVW(53);

    background-image: url('/logo-header.svg');
    background-size: contain;
    background-position: center;

    @media (max-width: 1440px) {
        width: 53px;
        height: 53px;
    }

    @media (max-width: 1024px) {
        width: 38px;
        height: 38px;
    }
}

.nav {
    display: flex;
    column-gap: calcVW(50);

    @media (max-width: 1440px) {
        column-gap: 50px;
    }

    @media (max-width: 1024px) {
        column-gap: 32px;
    }
}

.navItem {
    text-transform: uppercase;
    font-size: calcVW(18);
    line-height: calcVW(26);
    color: #606060;
    transition: color 0.2s ease-out;

    @media (max-width: 1440px) {
        font-size: 18px;
        line-height: 26px;
    }

    @media (max-width: 1024px) {
        font-size: 14px;
        line-height: 16px;
    }
}

.navItem:hover {
    color: #141416;
}