@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr calcVW(369);
    column-gap: calcVW(24);
    border-radius: calcVW(30);
    background-color: #141416;
    color: #ffffff;
    padding: calcVW(31);
    padding-left: calcVW(66);
    margin: calcVW(120) 0;

    @media (max-width: 1440px) {
        column-gap: 24px;
        border-radius: 30px;
        padding: 31px;
        padding-left: 66px;
        margin: 120px 0;
    }

    @media (max-width: 1024px) {
        padding: 23px;
        padding-left: 47px;
        margin: 90px 0;
        border-radius: 22px;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 22px 30px 88px;
        row-gap: 40px;
        margin: 70px 0 250px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: calcVW(57);

    @media (max-width: 1440px) {
        row-gap: 57px;
    }

    @media (max-width: 768px) {
        align-items: center;
        row-gap: 22px;
    }
}

.textBox {
    display: flex;
    flex-direction: column;
    row-gap: calcVW(20);

    @media (max-width: 1440px) {
        row-gap: 20px;
    }

    @media (max-width: 768px) {
        align-items: center;
        text-align: center;
        row-gap: 9px;
    }

    p {
        font-size: calcVW(20);
        line-height: calcVW(22);
        font-weight: 500;
        color: #878788;
        font-family: $font-f-poppins;

        @media (max-width: 1440px) {
            font-size: 20px;
            line-height: 22px;
        }

        @media (max-width: 1024px) {
            font-size: 15px;
            line-height: 16px;
        }
    }
}

.title {
    font-size: calcVW(45);
    line-height: calcVW(48);
    font-weight: 600;
    font-family: $font-f-poppins;

    @media (max-width: 1440px) {
        font-size: 45px;
        line-height: 48px;
    }

    @media (max-width: 1024px) {
        font-size: 33px;
        line-height: 36px;
    }

    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 24px;
    }
}

.img {
    width: 100%;
    height: 100%;
    border-radius: calcVW(16);
    object-fit: cover;

    @media (max-width: 1440px) {
        border-radius: 16px;
    }

    @media (max-width: 1024px) {
        border-radius: 12px;
    }

    @media (max-width: 768px) {
        position: absolute;
        width: calc(100% - 64px);
        top: calc(100% - 47px);
        left: 32px;
        right: 32px;
        height: 200px;
    }

    @media (max-width: 480px) {
        height: 130px;
    }
}

.buttons {
    display: flex;
    column-gap: calcVW(24);
    margin-top: auto;

    @media (max-width: 1440px) {
        column-gap: 24px;
    }
}