@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.wrapper {
    width: 100%;
    position: relative;
    padding-top: calcVW(200);
    padding-bottom: calcVW(170);
    background-color: #F9F9F9;
    overflow: hidden;

    @media (max-width: 1440px) {
        padding-top: 200px;
        padding-bottom: 170px;
    }

    @media (max-width: 1024px) {
        padding-top: 152px;
        padding-bottom: 114px;
    }
}

.container {
    display: grid;
    grid-template-columns: calcVW(567);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    row-gap: calcVW(28);

    @media (max-width: 1440px) {
        row-gap: 28px;
    }

    @media (max-width: 1024px) {
        row-gap: 15px;
    }

    p {
        font-size: calcVW(18);
        line-height: calcVW(28);
        font-weight: 400;
        color: #676767;

        @media (max-width: 1440px) {
            font-size: 18px;
            line-height: 28px;
        }

        @media (max-width: 1024px) {
            font-size: 13px;
            line-height: 18px;
        }
    }
}

.text .bold {
    font-weight: 600;
    color: #141416;
}

.title {
    position: relative;
    font-size: calcVW(76);
    line-height: calcVW(84);
    font-weight: 600;
    letter-spacing: -3px;
    font-family: $font-f-poppins;

    @media (max-width: 1440px) {
        font-size: 76px;
        line-height: 84px;
    }

    @media (max-width: 1024px) {
        font-size: 54px;
        line-height: 62px;
    }

    &::before {
        content: '';
        position: absolute;
        top: calcVW(-10);
        left: 0;
        width: calcVW(195);
        height: calcVW(1);
        background-color: #CECDCD;

        @media (max-width: 1440px) {
            top: -10px;
            width: 195px;
            height: 1px;
        }
    }
}

.buttons {
    display: flex;
    column-gap: calcVW(22);
    margin-top: calcVW(44);

    @media (max-width: 1440px) {
        column-gap: 22px;
        margin-top: 44px;
    }

    @media (max-width: 1024px) {
        column-gap: 16px;
        margin-top: 36px;
    }
}

.stat {
    display: flex;
    column-gap: calcVW(60);
    margin-top: calcVW(80);

    @media (max-width: 1440px) {
        column-gap: 60px;
        margin-top: 80px;
    }

    @media (max-width: 1024px) {
        column-gap: 40px;
        margin-top: 58px;
    }
}

.statItem {
    display: flex;
    flex-direction: column;
    row-gap: calcVW(10);
    font-size: calcVW(12);
    line-height: calcVW(16);
    color: #848586;

    @media (max-width: 1440px) {
        row-gap: 10px;
        font-size: 12px;
        line-height: 16px;
    }

    @media (max-width: 1024px) {
        row-gap: 8px;
        font-size: 9px;
        line-height: 13px;
    }
}

.statValue {
    color: #141416;
    font-size: calcVW(36);
    line-height: calcVW(42);
    font-weight: 600;

    @media (max-width: 1440px) {
        font-size: 36px;
        line-height: 42px;
    }

    @media (max-width: 1024px) {
        font-size: 26px;
        line-height: 30px;
    }
}

.imgContainer {
    position: absolute;
    top: calcVW(200);
    right: 0;
    height: calcVW(517);
    display: flex;
    column-gap: calcVW(40);
    margin-left: auto;
    transform: translateX(calcVW(54));

    @media (max-width: 1440px) {
        top: 200px;
    }
    
    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: calcVW(173);
        height: calcVW(400);
        z-index: 0;
        background-image: url('/dots.svg');
        background-size: contain;
        background-position: center;
    }
}

.imgLeft {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calcVW(391);
    height: calcVW(395);
    z-index: 1;
    margin-top: calcVW(48);

    img {
        width: calcVW(559);
        height: calcVW(563);
    }
}

.imgRight {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calcVW(320);
    height: calcVW(322);
    margin-top: auto;
    z-index: 1;

    img {
        width: calcVW(451);
        height: calcVW(454);
        background-position: center;
    }
}

.arrow {
    position: absolute;
    top: calcVW(41);
    left: calcVW(413);
    width: calcVW(128);
    height: calcVW(124);
    background-image: url('/curly-arrow.svg');
    background-size: contain;
    background-position: center;
}